body {
  background-color: lightgrey;
}

header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 25px;
    text-align: center;
    border: 10px solid;
    width: 500px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

article {
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  width: 500px;
  margin: 25px;
  border: 2px solid;
  padding: 20px;
}

article h2 {
  font-size: 18px;
  text-decoration: underline;
  width: fit-content;
  color: maroon;
}

article ul {
  list-style-type: circle;
  margin: 10px;
}

ol {
  list-style: decimal;
  margin: 10px;
}

aside {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:;
}

aside h3 {
  margin: 2px;
  font-style: italic;
}

#professionallinks {
  margin: 10px;
  text-align: center;
}

#funlinks {
  margin: 10px;
  text-align: center;
}